<!-- INCLUDE overall_header.html -->

<h1>{L_SETTINGS}</h1>

<form id="acp_board" method="post" action="{U_ACTION}">
  <fieldset>
    <dl>
      <dt><label for="trustplus_ig_api_key">{L_ACP_TRUSTPLUS_IG_API_KEY}</label></dt>
      <dd><input type="text" class="text" name="trustplus_ig_api_key" value="{TRUSTPLUS_IG_API_KEY}" /></dd>
    </dl>

    <!-- ;ENABLE_REGISTRATION_CHECK -->
    <dl>
      <dt><label for="trustplus_ig_registration_check">{L_ACP_TRUSTPLUS_IG_ENABLE_REGISTRATION_CHECK}</label></dt>
      <dd><input type="radio" class="radio" name="trustplus_ig_registration_check" value="1" <!-- IF TRUSTPLUS_IG_REGISTRATION_CHECK -->checked="checked"<!-- ENDIF -->/> {L_YES} &nbsp;
        <input type="radio" class="radio" name="trustplus_ig_registration_check" value="0" <!-- IF not TRUSTPLUS_IG_REGISTRATION_CHECK -->checked="checked"<!-- ENDIF --> /> {L_NO}</dd>
    </dl>

    <!-- ;LOG_ALLOWED -->
    <dl>
      <dt><label for="trustplus_ig_log_allowed">{L_ACP_TRUSTPLUS_IG_LOG_ALLOWED}</label></dt>
      <dd><input type="radio" class="radio" name="trustplus_ig_log_allowed" value="1" <!-- IF TRUSTPLUS_IG_LOG_ALLOWED -->checked="checked"<!-- ENDIF -->/> {L_YES} &nbsp;
        <input type="radio" class="radio" name="trustplus_ig_log_allowed" value="0" <!-- IF not TRUSTPLUS_IG_LOG_ALLOWED -->checked="checked"<!-- ENDIF --> /> {L_NO}</dd>
    </dl>

    <!-- ;ENABLE_CAV -->
    <dl>
      <dt><label for="trustplus_ig_enable_cav">{L_ACP_TRUSTPLUS_IG_ENABLE_CAV}</label></dt>
      <dd><input type="radio" class="radio" name="trustplus_ig_enable_cav" value="1" <!-- IF TRUSTPLUS_IG_ENABLE_CAV -->checked="checked"<!-- ENDIF -->/> {L_YES} &nbsp;
        <input type="radio" class="radio" name="trustplus_ig_enable_cav" value="0" <!-- IF not TRUSTPLUS_IG_ENABLE_CAV -->checked="checked"<!-- ENDIF --> /> {L_NO}</dd>
    </dl>

    <!-- ;APPROVAL_THRESHOLD -->
    <dl>
      <dt><label for="trustplus_ig_approval_threshold">{L_ACP_TRUSTPLUS_IG_APPROVAL_THRESHOLD}</label></dt>
      <dd><input type="number" class="text" name="trustplus_ig_approval_threshold"
                                             value="{TRUSTPLUS_IG_APPROVAL_THRESHOLD}" /></dd>
    </dl>
    <p>If ≥0, any registration attempt with a score greater than or equal to this value will result
       in the registration being flagged for administrator approval. Set to -1 to disable.</p>

    <!-- -->
    <p class="submit-buttons">
      <input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
      <input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
    </p>

    {S_FORM_TOKEN}
  </fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
